.table-primary {
  --bs-table-color: #ba71e4;
  --bs-table-bg: #f0ca87;
  --bs-table-border-color: #f3e4d5;
  --bs-table-striped-bg: #f6b35e;
  --bs-table-striped-color: #410606;
  --bs-table-active-bg: #f5c9a3;
  --bs-table-active-color: #f1e388;
  --bs-table-hover-bg: #f6f3ed;
  --bs-table-hover-color: #f5e062;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);

  thead tr:first-child th:first-child {
    border-top-left-radius: 12px;
  }

  thead tr:first-child th:last-child {
    border-top-right-radius: 12px;
  }

  tbody tr:last-child {
    --bs-border-width: 0px;
  }

  tbody tr:last-child th:first-child {
    border-bottom-left-radius: 12px;
  }

  tbody tr:last-child td:last-child {
    border-bottom-right-radius: 12px;
  }
}
