%h1 トリックオアトリート

%p あなたの友人を見つけましょう
%p あなたの友人に「トリックオアトリート！」をしてみることでナニカいいことがあるかも！

.rounded
  %table.table.table-primary
    %caption 登録しているユーザー一覧
    %thead
      %tr
        %th{:scope => "col"} #
        %th{:scope => "col"} First
        %th{:scope => "col"} Last
        %th{:scope => "col"} Handle
    %tbody
      %tr
        %th{:scope => "row"} 1
        %td Mark
        %td Otto
        %td @mdo
      %tr
        %th{:scope => "row"} 2
        %td Jacob
        %td Thornton
        %td @fat
      %tr
        %th{:scope => "row"} 3
        %td{:colspan => "2"} Larry the Bird
        %td @twitter
